<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>About the <a href="/about" style="color: #1B4D9D">16 Frogs Project</a></strong>
    </p>  
  </div>

</footer>
