<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The 16 Frogs project is a public arts and environmental education campaign in Blacksburg, VA that seeks to restore the health of Stroubles Creek, the broader watershed, and the water quality of downstream communities through increased public awareness." >
  <title>16 Frogs</title>
  <meta name="referrer" content="no-referrer-when-downgrade">
  <link rel="stylesheet" href="/assets/test.css">
  <link rel="preconnect" href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'>
  <link rel="preconnect" href='https://events.mapbox.com/'>
  <link rel="preconnect" href='https://api.mapbox.com/'>
  
  
  <script defer src="/lazysizes.min.js"></script>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"> -->
  <!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->

  <!-- <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}"> -->
  {%- if jekyll.environment == 'production' and site.google_analytics -%} 
    {%- include google-analytics.html -%}
  {%- endif -%}
</head> 
