@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

.is-horizontal-center {
    justify-content: center;
}

footer {
    a {
        color: #1B4D9D;
    }
}

.hide-button {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

@media screen and (min-width: 1024px) {
.hide-button {
    max-width: 960px;
}
}