---
layout: default
---
<section class="hero" style="padding-top: 1em;">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        <figure class="image container is-128x128">
          <img src="{{ "/assets/logo.png" | relative_url }}" alt="16 Frogs Logo, a drawing of a frog"/>
        </figure> 
      </div>
      <div class="hero-body">
        <h1 class="title">16 Frogs</h1>
        <h2 class="subtitle">In Blacksburg, VA</h2>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container content">
    <h1>{{ page.title }}</h1>
    {{ content }}
  </div>
</section>
