<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {{ content }}

    {%- include footer.html -%}

    <script defer src="/hidemap.js"></script>
    
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
  <!-- <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css'  rel='stylesheet' defer/> -->
  

  <script>
    
    mapboxgl.accessToken = 'pk.eyJ1IjoibmVhbGYiLCJhIjoiY2swcTJkdnFoMDQ1eDNtbmJ1ZHF6c3lxMCJ9.MqHRdYl4lNho2BDCOQUGKg';
    var map = new mapboxgl.Map({
        style: 'mapbox://styles/nealf/ck0pzzhz6cei01dmvfmc50hhw',
        center: [-80.413, 37.229],
        zoom: 14,
        container: 'map',
        antialias: true,
        
        
    });
    
    // The 'building' layer in the mapbox-streets vector source contains building-height
    // data from OpenStreetMap.
  
  
    map.on('load', function() {
      //////////// Adding the rel noopener attribute to two mapbox GL links that
      //// are missing it. Brings Lighthouse best practices score  up to 100%.
      let addNo = document.querySelectorAll("a[href='https://www.mapbox.com/about/maps/']")
      addNo[0].setAttribute('rel', 'noopener')
      let addNoTwo = document.querySelectorAll("a[href='http://www.openstreetmap.org/about/']")
      addNoTwo[0].setAttribute('rel', 'noopener')
      //
      
      map.addControl(new mapboxgl.GeolocateControl({
        positionOptions: {
          enableHighAccuracy: true
        },
        trackUserLocation: true
      }));
      
      map.addLayer({
        id: 'frogs',
        source: {
          type: 'geojson',
          data: '{{ "/assets/frogs.geojson" | relative_url }}'
        },
        type: 'circle',
        paint: {
          "circle-radius": 25,
          "circle-opacity": 0.05
        }

        

      });

      /////// Setting drag with finger our mouse for mobile vs desktop
      if(window.innerWidth < 768) {
        map.dragPan.disable()
    }

    window.addEventListener('resize', (e) => {
      if(window.innerWidth > 768) {
        map.dragPan.enable();
      } else {
        map.dragPan.disable()
      }
    })
    ////////////
  
      
      map.on('click', 'frogs', function (e) {
        //////// adding map back on click
        let mapbox = document.querySelector(".is-two-thirds");
        let hideButton = document.querySelector('.hide-button')
        if(hideButton.classList.contains('un-sticky')) {
        console.log('whattt')
        hideButton.classList.remove('un-sticky')
      }
  
        var coordinates = e.features[0].geometry.coordinates.slice();
        console.log(e.features[0].geometry.coordinates);
        var name = e.features[0].properties.name;
        var shortname = e.features[0].properties.shortname;
        
        // Ensure that if the map is zoomed out such that multiple
        // copies of the feature are visible, the popup appears
        // over the copy being pointed to.
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
          coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }
        window.location.hash = '#' + shortname;
      });
    });
  
    var frogCardMapIcons = document.getElementsByClassName('frog-map-icon');
    
    for(let i = 0; i < frogCardMapIcons.length; i++) {
      frogCardMapIcons[i].addEventListener("click", function(e) {
        frogId = e.target.closest('.card').id;
        // console.log(map.getSource('frogs'));
         
        
        console.log(map.querySourceFeatures('frogs'))
        map.setZoom(13)
        map.flyTo( {center: [-80.413, 37.229]} )
        
        
        map.once('idle', (e) => {
          clickedFrog = map.querySourceFeatures('frogs', {
          filter: ["==", "shortname", frogId]
        });
        testing = map.querySourceFeatures('frogs');
        console.log(testing)
        console.log(clickedFrog[0].geometry.coordinates);
        map.setZoom(16)
        map.flyTo({ center: clickedFrog[0].geometry.coordinates });
        
  
        })
        
      })
    }
  
  </script>
   
  </body>

</html>
