---
layout: default
---
<section class="hero" style="padding-top: 1em;">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        <figure class="image container is-128x128">
          <img src="{{ "/assets/new-logo.jpg" | relative_url }}" alt="16 Frogs logo, a drawing of a frog" />
        </figure>
      </div>
      <div class="hero-body">
        <h1 class="title">{{ page.title }}</h1>
        <h2 class="subtitle">{{ page.subtitle }}</h2>
      </div>
    </div>
  </div>
</section>
  
<section class="section">
  <div class="hide-div"><button class="hide-button">Hide Map</button></div>
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered expand-me">
        
        <div class="column has-text-centered my-frogs">
          <div class="card"> {{ content }}</div>
          {% for frog in site.frogs %}
            {%- include frog_card.html -%}
          {% endfor %}
        </div>
      </div>
      <div class="column box is-two-thirds" style="height:90vh; position: sticky; top: 4rem">
        <div id='map' style="width: 100%; height: 100%;"></div>
      </div>
    </div>
  </div>
</section>

